@use "./../../../variables" as vars;

.sliderHeadingAndValue {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .heading {
    font-size: 1rem;
    color: vars.$almost-white;
  }

  .value {
    color: vars.$neon-green;
  }
}

.slider {
  appearance: none;
  border: none;
  outline: none;
  height: 8px;
  width: 100%;
  margin-top: 1.12em;
  margin-bottom: 2.62em;
  background: vars.$very-dark-grey;

  &::-webkit-slider-runnable-track {
    background-color: transparent;
    height: 8px;
    border: none;
    box-shadow: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    background-color: vars.$almost-white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;

    &:hover {
      border: 2px solid vars.$neon-green;
      background-color: vars.$very-dark-grey;
    }

    &::-webkit-slider-runnable-track {
      background: #ddd;
      border-radius: 5px;
      height: 8px;
      border: none;
      box-shadow: none; // Remove shadow
    }
  }
}
