@use "./../../../variables" as vars;

.passwordStrengthContainer {
  width: 100%;
  height: 3.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: #18171f;
  margin: 1em 0;
}

.strength {
  color: vars.$grey;
  text-transform: uppercase;
}

.strengthContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  min-width: 9.06em;
}
