@use "./../../../variables" as vars;

.btn {
  border: none;
  width: 100%;
  height: 3.5em;
  background-color: vars.$neon-green;
  text-transform: uppercase;
  cursor: pointer;
}

.arrowIcon {
  margin-left: 1em;
}
