@use "./../../variables" as vars;

.displayContainer {
  width: 100%;
  height: 4em;
  padding: 1em;
  background-color: vars.$dark-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: vars.$almost-white;
}

.empty::before {
  content: "P4$5W0rD!";
  color: vars.$almost-white;
  opacity: 0.25;
}

.copyIcon {
  cursor: pointer;
}
