@use "variables" as *;

// google font
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $very-dark-grey;
  font-family: "JetBrains Mono", monospace;
}

.heading-large {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: $large;
}

.heading-medium {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: $medium;
}

.normal-text {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: $normal;
}
